Checks: >
  *,
  -abseil-*,
  -altera-*,
  -fuchsia-*,
  -llvmlibc-*,
  -llvm-header-guard,
  -portability-avoid-pragma-once,
  -modernize-use-trailing-return-type,
  -bugprone-dynamic-static-initializers,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -misc-use-anonymous-namespace,
  -llvm-prefer-static-over-anonymous-namespace,
  -google-readability-todo,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -hicpp-no-array-decay,
  -cppcoreguidelines-avoid-c-arrays,
  -hicpp-avoid-c-arrays,
  -modernize-avoid-c-arrays,
  -cppcoreguidelines-pro-type-vararg,
  -hicpp-vararg,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -misc-non-private-member-variables-in-classes,
  -hicpp-signed-bitwise,
  -readability-identifier-length,
  -performance-no-int-to-ptr,
  -google-explicit-constructor,
  -hicpp-explicit-conversions,
  -hicpp-deprecated-headers,
  -modernize-deprecated-headers,
  -cppcoreguidelines-special-member-functions,
  -hicpp-special-member-functions,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -misc-include-cleaner
CheckOptions:
  - key: bugprone-unused-return-value.AllowCastToVoid
    value: true
WarningsAsErrors: ''
FormatStyle: 'file'
HeaderFilterRegex: ''

