Checks: >
  bugprone-*,
  clang-analyzer-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -bugprone-dynamic-static-initializers,
  -bugprone-easily-swappable-parameters,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes,
  -misc-use-anonymous-namespace,
  -modernize-avoid-c-arrays,
  -modernize-deprecated-headers,
  -modernize-use-trailing-return-type,
  -modernize-macro-to-enum,
  -performance-no-int-to-ptr,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-non-const-parameter,
CheckOptions:
  - key: bugprone-unused-return-value.AllowCastToVoid
    value: true
WarningsAsErrors: ''
FormatStyle: 'file'
HeaderFilterRegex: ''

