set timeout=0
set timeout_style=hidden

menuentry "myos" {
    multiboot /boot/myos.bin
    module /boot/sh.elf sh.elf
    module /boot/hello.elf hello.elf
    module /boot/ls.elf ls.elf
    module /boot/cat.elf cat.elf
    module /boot/touch.elf touch.elf
    module /boot/tetris.elf tetris.elf
    module /boot/doom1.wad doom1.wad
    module /boot/doom.elf doom.elf
    boot
}
